/* Estilo general */
body {
    font-family: 'Merriweather', serif;
    margin: 20px;
    background-color: #f4f4f9; /* Gris claro */
}

nav {
    background-color: #333; /* Negro */
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

nav a {
    color: white; /* Blanco */
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 20px;
}

h1, h2 {
    color: #333; /* Gris oscuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc; /* Gris */
    background-color: #fff; /* Blanco */
    position: relative; /* Para posicionar la foto de perfil */
}

.post-header {
    display: flex;
    align-items: center;
}

.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hace la foto de perfil redonda */
    margin-right: 10px;
}

.post-content {
    flex: 1; /* El contenido del post ocupa el espacio restante */
}

.post-author {
    font-weight: bold;
    color: #333; /* Gris oscuro */
}

.post-username {
    color: #777; /* Gris */
    margin-right: 5px;
}

.post-timestamp {
    color: #777; /* Gris */
    font-size: 0.8em;
}

.post-text {
    margin-top: 10px;
}

/* Formulario de perfil */
.profile-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff; /* Blanco */
    border: 1px solid #ccc; /* Gris */
    border-radius: 5px;
}

.profile-form label {
    display: block;
    margin-bottom: 5px;
}

.profile-form input[type="text"],
.profile-form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Gris */
    border-radius: 3px;
    box-sizing: border-box;
}

.profile-form button {
    background-color: #333; /* Negro */
    color: white; /* Blanco */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.profile-form button:hover {
    background-color: #555; /* Gris oscuro */
}

/* Estilo para los enlaces */
a {
    color: #006699; /* Azul frutiger */
    text-decoration: none;
}

/* Estilo para los enlaces al pasar el mouse */
a:hover {
    text-decoration: underline;
}
